// Main Colors
$DarkBlue: hsl(240, 38%, 20%);
$GrayishBlue: hsl(240, 18%, 77%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    .curve {
        position: fixed;
        bottom: -20px;
    }
    .testimonial {
        display: flex;
        align-items: center;
        width: 80%;
        height: 100vh;
        margin: auto;
        .info {
            position: relative;
            flex: 1;
            p {
                font-size: 32px;
                color: $DarkBlue;
                width: 100%;
            }
            h3 {
                margin-top: 30px;
                font-weight: 700;
                .job {
                    color: $GrayishBlue;
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
            .quote {
                position: absolute;
                left: 20%;
                top: -27%;
            }
        }
        .image {
            flex: 1;
            width: 100%;
            height: 75%;
            position: relative;
            z-index: 100;
            div.tanya-image {
                width: 100%;
                height: 100%;
                position: relative;
                .face-image {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    box-shadow: 0px 10px 40px 0px #aaa;
                }
                .icons {
                    position: absolute;
                    left: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 40px;
                    bottom: -22.5px;
                    z-index: 1000;
                    button {
                        border: none;
                        background-color: white;
                        cursor: pointer;
                        &:first-child {
                            border-radius: 20px 0 0 20px;
                        }
                        &:last-child {
                            border-radius: 0 20px 20px 0;
                        }
                        i {
                            font-size: 35px;
                        }
                    }
                }
            }
            .pattern {
                position: absolute;
                width: 125%;
                height: 125%;
                top: -12.5%;
                left: -12.5%;
                z-index: -2;
            }
        }
    }
}

@media (max-width: 850px) {
    .curve {
        position: fixed;
        bottom: -70px !important;
    }
    .testimonial {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        .info {
            p {
                width: 100% !important;
                font-size: 20px !important;
                font-weight: 300;
            }
            h3 {
                .job {
                    display: block;
                    font-weight: 400 !important;
                }
            }
            .quote {
                left: 38% !important;
                width: 80px !important;
                top: -19% !important;
            }
        }
        .image {
            margin-bottom: 100px;
            .pattern {
                width: 120% !important;
                height: 120% !important;
                top: -10% !important;
                left: -10% !important;
            }
            div.tanya-image {
                .icons {
                    left: 50% !important;
                    transform: translateX(-50%);
                }
            }
        }
    }
}